---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const jobs = await getCollection('work')
---

<BaseLayout>
  <div class="flex flex-col gap-20 lg:gap-48">
    <div class="wrapper flex flex-col gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Web developer."
          tagline="Hi! I'm web developer who likes to craft solid products with great user experiences."
        >
          <div class="flex mt-9 text-base">
            <span class="flex-1"
              ><Icon icon="ui" size="1.5rem" />I'm proeficient in building responsive user interfaces with modern
              frontend technologies.</span
            >
            <span class="flex-1"
              ><Icon icon="code" size="1.5rem" />I'm also skilled in backend development, with focus on writing clean
              and understandable code.</span
            >
          </div>

          <!-- <img src="/assets/scratch.svg" class="absolute scratch-image" /> -->
        </Hero>

        <img
          class="profile-photo w-96 hover:cursor-pointer"
          alt="Jan Hromadka - profile photo"
          width="480"
          height="620"
          src="/assets/me.jpg"
        />
      </header>

      <Skills />
    </div>

    <main class="wrapper flex flex-col gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">My resume</h2>
          <p>There is timeline of my work experiences.</p>
        </header>

        <div class="gallery">
          <div class="container mx-auto w-full h-full">
            <div class="relative wrap overflow-hidden p-10 h-full">
              <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border" style="left: 50%"></div>
              {
                jobs.map((job, index) => (
                  <div
                    class={`mb-8 mt-3 flex justify-between items-center w-full ${index % 2 === 0 ? 'flex-row-reverse' : ''}`}
                  >
                    <div class="order-1 w-5/12" />
                    <div class="order-1 w-8 h-8 rounded-full bg-purple-700 dark:bg-purple-600 shadow-lg flex items-center justify-center z-20">
                      <h1 class="text-lg text-white font-semibold">{jobs.length - index}</h1>
                    </div>
                    <div class="order-1 bg-gray-800 dark:bg-gray-900 rounded-lg shadow-lg w-5/12 px-6 py-4 hover:bg-purple-900 transition duration-300">
                      <h3 class="mb-1 font-bold text-xl text-purple-500">{job.data.company}</h3>
                      <p class="italic text-sm text-gray-400 mb-3">{job.data.date}</p>
                      <p class="text-gray-300 leading-relaxed text-sm" set:html={job.data.description}></p>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>

        <div class="cta self-end">
          <CallToAction href="/work/">
            Download my cv
            <Icon icon="download" size="1.4em" />
          </CallToAction>
        </div>
      </section>

      <section class="section with-background bg-variant">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">Tech stack</h2>
          <p>There is list of my favorite technologies I enjoy work with.</p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            <li class="mention-card">
              <p>
                <img class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20" src="/assets/tech/vue.svg" alt="Vue.js" />
                <sub>Vue.js</sub>
              </p>
            </li>
            <li class="mention-card">
              <p>
                <img class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20" src="/assets/tech/ts.svg" alt="Typescript" />
                <sub>Typescript</sub>
              </p>
            </li>
            <li class="mention-card">
              <p>
                <img class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20" src="/assets/tech/pg.svg" alt="Postgres" />
                <sub>Postgres</sub>
              </p>
            </li>
            <li class="mention-card">
              <p>
                <img class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20" src="/assets/tech/js.png" alt="Postgres" />
                <sub>JavaScript</sub>
              </p>
            </li>
            <li class="mention-card">
              <p>
                <img class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20" src="/assets/tech/node.svg" alt="Node.js" />
                <sub>Node.js</sub>
              </p>
            </li>
            <li class="mention-card">
              <p>
                <img class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20" src="/assets/tech/kotlin.png" alt="Kotlin" />
                <sub>Kotlin</sub>
              </p>
            </li>
          </Grid>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .scratch-image {
    position: absolute;
    left: -50px;
    width: 35%;
    height: 513px;
  }
  .profile-photo {
    box-shadow: 0 20px 50px rgba(128, 0, 128, 0.7) !important;
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: '';
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background:
      url('/assets/backgrounds/noise.png') top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
      gap: 5rem;
    }

    .section.with-cta {
      grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
    transition: transform 0.3s ease;
  }

  .mention-card:hover {
    transform: translateY(-0.5rem);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
