---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Grid from '../components/Grid.astro';
const projects = await getCollection('projects');
---

<BaseLayout>
      <section class="section with-background bg-variant md:py-20 px-6 md:px-0 mt-48 md:mt-24">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">Projects and references</h2>
          <p>Here are some projects I did or I have been a part of</p>
        </header>

        <div class="gallery pb-8 md:mb-0">
					<Grid variant="small">
						{
							projects.map((project, index) => (
								<a
									href={`/projects/${project.slug}`}
									class="group relative w-full h-72 rounded-2xl overflow-hidden transition-all duration-300 hover:scale-105 card-box cursor-pointer"
								>
									<div
										class={`flex items-center justify-center h-full w-full bg-center bg-cover bg-no-repeat`}
										style={`background-image: url('${project.data.img}'); ${project.data.padding ? 'background-size: 80%' : ''}`}
									>
										<div class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center p-4">
											<h3 class="text-white text-xl font-semibold text-center">{project.data.title}</h3>
										</div>
									</div>
									<div class="absolute inset-0 border border-gray-800 rounded-2xl opacity-20 group-hover:opacity-40 transition-opacity duration-300" />
								</a>
							))
						}
					</Grid>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>
