---
import FooterNav from "./FooterNav.astro";
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="footer relative overflow-hidden border-t border-gray-800"
  id="contact"
>
  <div class="flex flex-col">
    <div
      class="py-20 grid grid-cols-1 gap-10 md:py-[120px] md:gap-20 xl:grid-cols-2 xl:py-25 3xl:py-[110px] 4xl:py-[120px] justify-items-center md:justify-items-start px-6 md:px-12 xl:px-16"
    >
      <div
        class="hidden md:grid gap-7.5 justify-items-start content-end md:gap-10 md:py-7.5 md:-my-7.5 xl:gap-12.5"
      >
        <FooterNav />
      </div>

      <div
        class="grid gap-7.5 justify-items-start content-start py-5 -my-5 md:gap-10 md:py-7.5 md:-my-7.5"
        id="kontakt"
      >
        <picture>
          <img
            width="100"
            height="100"
            src="/assets/me.jpg"
            alt="Jan Hromádka - front-end developer"
            sizes="(min-width: 48em) 6.25rem, 4.375rem"
            decoding="async"
            loading="lazy"
            class="block shrink-0 object-cover rounded-full size-[70px] md:size-25 bg-black md:mb-0 mb-4"
            style="object-position: center 25%; overflow-clip-margin: unset;"
          />
        </picture>

        <div class="grid gap-2.5 place-items-start min-w-0 md:mb-0 mb-6">
          <a
            href="mailto:jan.hromadka@outlook.cz"
            class="block group relative leading-none font-semibold transition !text-purple-300 md:text-4xl text-lg"
          >
            jan.hromadka@outlook.com <span
              class="block absolute inset-x-0 -bottom-1 h-0.5 bg-current transition-transform duration-300 scale-x-0 origin-right group-hover:scale-x-100 group-hover:origin-left"
            ></span>
          </a>
          <a
            href="tel:+420702512072"
            class="block group relative leading-none font-semibold transition md:text-3xl text-lg"
          >
            (+420) 702&nbsp;512&nbsp;072 <span
              class="block absolute inset-x-0 -bottom-1 h-0.5 bg-current transition-transform duration-300 scale-x-0 origin-right group-hover:scale-x-100 group-hover:origin-left"
            ></span>
          </a>
        </div>

        <div class="ml-0 flex flex-col flex-wrap">
          <SocialLinks />
        </div>
      </div>
    </div>

    <div
      class="md:pl-11 border-t border-gray-800 py-10 xl:gap-12.5 xl:py-7.5 3xl:py-10 4xl:py-12.5"
    >
      <p class="text-gray-400 text-center md:text-left">
        Made with ❤️ by Jan Hromádka
      </p>
    </div>
  </div>
</footer>
<style scoped>
  a {
    color: white;
  }
</style>
