---
import Icon from "./Icon.astro";
---

<footer>
  <div class="group">
    <p>
      Made with ❤️ by Jan Hromádka
    </p>
  </div>
  <p class="socials">
    <!-- Use a parent <span> with 'group' class and target all child elements for a unified hover effect -->
    <span class="flex items-center hover:text-gray-300 transition-colors duration-300 ease-in-out">
      <Icon icon="github-logo" />
      <!-- Apply 'group-hover' classes to synchronize hover effect with parent -->
      <a href="https://github.com/kopkaa" class="ml-1 transition-colors duration-300 ease-in-out">GitHub</a>
    </span>
    <span class="flex items-center hover:text-gray-300 transition-colors duration-300 ease-in-out">
      <Icon icon="linkedin-logo" />
      <a href="https://www.linkedin.com/in/jan-hrom%C3%A1dka-ba3820197/" class="ml-1 transition-colors duration-300 ease-in-out">LinkedIn</a>
    </span>
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a,
  footer .socials span {
    color: var(--gray-400);
    transition: color 0.3s ease-in-out;
  }

  footer a:hover,
  footer .socials span:hover,
  footer a:focus {
    color: var(--gray-300); /* Ensure all elements turn to the same hover color */
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
