---
import Icon from "./Icon.astro";
---

<footer>
  <p>Made with ❤️ by Jan Hromádka</p>
  <p class="socials">
    <span
      class="flex items-center hover:text-gray-300 transition-colors duration-300 ease-in-out"
    >
      <Icon icon="github-logo" />
      <a
        href="https://github.com/kopkaa"
        target="_blank"
        class="ml-1 transition-colors duration-300 ease-in-out">GitHub</a
      >
    </span>
    <span
      class="flex items-center hover:text-gray-300 transition-colors duration-300 ease-in-out"
    >
      <Icon icon="linkedin-logo" />
      <a
        href="https://www.linkedin.com/in/jan-hrom%C3%A1dka-ba3820197/"
        target="_blank"
        class="ml-1 transition-colors duration-300 ease-in-out">LinkedIn</a
      >
    </span>
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a,
  footer .socials span {
    color: var(--gray-400);
    transition: color 0.3s ease-in-out;
  }

  footer a:hover,
  footer .socials span:hover,
  footer a:focus {
    color: var(
      --gray-300
    ); /* Ensure all elements turn to the same hover color */
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }
    .socials {
      justify-content: flex-end;
    }
  }
</style>
