---
import Icon from "./Icon.astro";

const textLinks: { label: string; href: string }[] = [
  { label: "About me", href: "#navigation" },
  { label: "References", href: "#references" },
  { label: "Stack", href: "#stack" },
  { label: "Contact", href: "#contact" },
];
---

<nav
  id="header"
  class="nav fixed top-0 z-[9999] font-nunito font-medium w-full px-12 lg:px-24 2xl:px-52 py-8 transition-all duration-500 ease-in-out bg-transparent"
>
  <div class="flex justify-between items-center">
    <a
      href="/"
      class="font-semibold text-2xl text-purple-300 drop-shadow-[0_4px_6px_rgba(0,0,0,0.1)] flex items-center transform hover:scale-110"
    >
      <span
        class="ml-2 bg-gradient-to-r from-purple-300 to-pink-400 bg-clip-text text-transparent"
      >
        jhromadka.dev
      </span>
    </a>
    <ul class="hidden md:flex items-center gap-8 font-rethink">
      {textLinks.map(({ label, href }) => (
        <li>
          <a
            href={href}
            class="text-gray-300 hover:text-purple-300 transition-all"
          >
            {label}
          </a>
        </li>
      ))}
    </ul>
    <menu-button class="md:hidden">
      <template>
        <button aria-label="Menu" class="text-white"> ☰ </button>
      </template>
    </menu-button>
  </div>
</nav>

<script>
  if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", () => {
      const header = document.getElementById("header");

      const handleScroll = () => {
        if (window.scrollY === 0) {
          header?.classList.remove("scrolled");
        } else {
          header?.classList.add("scrolled");
        }
      };

      handleScroll();

      window.addEventListener("scroll", handleScroll);
    });
  }
</script>

<style>
  .nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
  }

  .nav.scrolled {
    background: rgba(13, 18, 35, .875);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav.scrolled.bg-gradient-to-b {
    background: linear-gradient(to bottom, rgba(26, 31, 61, 0.4), rgba(17, 23, 40, 0.4));
  }
</style>
